
.main{
    /* background-color: rgb(114, 78, 77); */
    background-image: url(nw2.jpg);
    height: 570px;
    width: 800px;
    margin-top: 50px;
    margin-left: 380px;

}
#ht{
    
    margin-top: 29px;
    margin-left: 129px;
    /* background-color: greenyellow; */
    background-color: rgba(4, 3, 3, 0.601);
    color: rgb(252, 121, 7);
    font-weight: 500;
    
    
}
#btn{
    height: 70px;
    width: 80px;
    position: relative;
    bottom: 30px;
    /* background-color: rgb(7, 246, 7); */
    background-color:rgba(29, 20, 20, 0.712);
    color: whitesmoke;
    font-size: 15px;
}
#tt{
    margin-left: 125px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    /* background-color:rgb(114, 78, 77) ; */
    background-color: rgba(4, 3, 3, 0.601);
}    
 
#ct{
    margin-left: 125px;
    margin-top: 40px;
    color:rgb(252, 252, 252);
    font-weight: 300;
    /* background-color:rgb(114, 78, 77) ; */
    background-color: rgba(4, 3, 3, 0.601);
} 
H1{
    text-align: center;
    padding-top: 29px;
    color: rgb(195, 37, 1);
}
#es{
    margin-left: 80px;
    margin-top: -17px;
    /* background-color:rgb(114, 78, 77) ; */
    background-color: rgba(4, 3, 3, 0);
    font-weight: 400;
    color: wheat;
}
#ss{
    margin-left: 130px;
    margin-top: -18px;
    /* background-color:rgb(114, 78, 77) ; */
    background-color: rgba(4, 3, 3, 0);
    font-weight: 400;
    color: bisque;
}