.main{
    background-color: rgb(9, 9, 9);
    border: solid;
    width: 500px;
    height: 650px;
    position: absolute;
    left: 35%;
    color: aliceblue;
    text-align: center;
}
h1{
    position: absolute;
    top: 40px;
    left: 60px;
    color: blueviolet;
    font-style: oblique;
}
#feet{
    height: 40px;
    width: 50%;
    position: relative;
    top: 59px;
    left: 25px;
    background-color: beige;
    
}
H3{
    position: relative;
    top: 125px;
    right: 178px;
    font-size: 30px;
    font-style: italic;
    color: beige;
}
#inch{
    height: 40px;
    width: 50%;
    position: relative;
    bottom: 80px;
    left: 25px; 
    
   

}
h4{
    /* position: relative; */
    /* top: 230px; */
    /* right: 190px;  */
    margin-top: 150px;
    margin-right: 500px;
    margin-left: 15px;
    font-size: 30px;
    font-style: italic;
    color: beige; 
}
#btn{
    /* position: relative; */
    /* top: 300px; */
    /* left: 10px; */
    margin-top: 45px;
    background-color: rgb(242, 99, 99);
    height: 40px;
    width: 310px;
   
}
p{
    margin-top: -165px;
    color:rgb(246, 245, 245);
    padding-top: 12px;
    padding-right: 190px;
  
}
#dv{
    background-color: beige;
    height: 45px;
    width: 250px;
    margin-left: 150px;
    margin-top: -30px;
    text-align: center;
}