* {
    margin: 0;
    padding: 0;
}

.main {
    height: auto;
    width: 600px;
    background-color: rgb(166, 166, 166);
    /* background-image: url(bbg.jpg); */
    position: absolute;
    left: 30%;
    margin-top: 70px;
    border: solid;
}

#head {
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    /* background-color: rgb(12, 8, 1); */
    padding-bottom: 7px;
    color:rgb(15, 15, 15);
}

.score {
    text-align: center;
    padding-top: 40px;
}

#player {
    padding-right: 250px;
    padding-top: 50px;
    font-size: 25px;
    color: rgb(249, 7, 7);
    font-style: oblique;
}

#pscr {
    padding-right: 250px;
    padding-top: 10px;
    font-size: 25px;
    color:rgb(9, 252, 17);
}

#computer {
    padding-left: 250px;
    margin-top: -27px;
    font-size: 25px;
    color: rgb(9, 252, 17);
    font-style: oblique;
}

#cscr {
    padding-left: 250px;
    margin-top: -27px;
    font-size: 25px;
    color: red;
}

.result {
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
    color: yellow;
}

.choices {
    text-align: center;
    padding-top: 30px;
    margin-top: 50px;
}

.choice {
    display: inline-block;
    border: solid rgb(255, 129, 4);
    margin: 15px;
}

#s {
    height: 75px;
    width: 75px;
}

#p {
    height: 75px;
    width: 75px;
}

#r {
    height: 75px;
    width: 75px;
}

.choice:hover {
    cursor: pointer;
}

#action-messages {
    text-align: center;
    color: azure;
    font-size: 20px;
    margin-bottom: 20px;

}